body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
  max-width: 788px;
  margin: 0 auto;
  padding: 0 10px;
}

img[alt="GitHub Logo"],
img[alt="Twitter Logo"],
img[alt="LinkedIn Logo"],
img[alt="Email"] {
  height: 32px;
  width: 32px;
  margin: 0 16px;
}

#content > :nth-child(2),
#content > :last-child{
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  scroll-margin-top: 20px;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  img[alt="GitHub Logo"],
  img[alt="Twitter Logo"],
  img[alt="Email"] {
    filter: invert(1);
  }
}
